
body{
    font-family: Raleway,sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
 /*Header*/

 nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 .menu{
     display: flex;
     flex-direction: row;
     border: 10px transparent;
 }
 .menu .itemMenu:hover{
     border-top: 1px solid #0065FC;
 }


 /*Main*/
.siteContent{
    flex: 1;
}
 /*Navigation*/
    #search{
        background: aqua;
        display: flex;
        flex-direction: row;
    }

 /*Filtres*/
 #filter{
     background: green;
 }
 .filterInfos{
     display: flex;
     flex-direction: row;
 }


 /*Cards*/
#home{
    background: darkorchid;
    display: flex;
    justify-content: space-between;
    align-items: center ;

}
#hebergement{
    background: chartreuse;
    flex: 2;
}
.hebergementSubCard1{
    background: chocolate;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hebergementSubCard2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#popular{
    background: blue;
    flex: 1;
}
#popularHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#activities{
    background: gold;
    display: flex;
    flex-direction: column;
}
.activitiesBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.activitiesCard1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.activitiesCard2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


 /*Footer*/
 footer{
     background: red;
     display: flex;
     justify-content: space-around;
 }

 /*Medias Queries*/
@media screen and (max-width: 992px)
{
    nav{
        flex-direction: column;
        align-items: center;

    }
    #home{
        flex-direction: column-reverse;
    }


}
 @media screen and (max-width: 768px )
 {
     body{
         margin: 0;
         display: flex;
         flex-direction: column;
         min-height: 100vh;
     }
     .siteContent{
         flex: 1;
     }
     .menu .itemMenu:hover{
         border-top: none;
         border-bottom: 1px solid #0065FC;
     }
     .siteFooter{
         flex-direction: column;
     }

 }


